/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&display=swap');

/*Applied to overrise default sytles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic project styles*/
    color: rgb(51, 23, 23);
    font-family: 'Lexend', sans-serif;
}


h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(46, 33, 33);
}

/*Header*/
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu
{
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
} 

#menu > li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px dotted rgb(105, 102, 102) ;
}

/* Update the navbar style with the dropdown menu*/
nav {
    position: absolute;
    background-color: beige;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px lightgray;
    display: none;
    top: 100%;
}

/*Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
}

/*Main*/
main {
    /*Make main content of the page to take any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Hero section */
#hero {
    width: 100vw;
    height: 100vh;
    background: url("../images/pexels-emrecan-2079438.jpg") no-repeat center center/ cover;
}

#cover-text {
    /* Applie the background colour with opacity to the h2 text*/
    background-color: rgba(233, 225, 225, 0.5);
    font-size: 105%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text> h3 {
    color: rgb(17, 11, 2);
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-business > div,
#benefits-education > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

/*Footer*/
footer {
    background-color: rgb(97, 62, 62);
}
#social-networks {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}    

#social-networks i {
    font-size: 250%;
    padding: 10%;
}
/*Media query: tablets and larger devices (768px and up)*/
@media screen and (min-width:768px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
    #logo {
        font-size: 200%;
        line-height: 50px;
        margin: 0 0 0.5rem;
    }
    /*Apply bigger top margin for devices with breakpoint 768px and above to have main content displayed*/
    main {
        margin-top: 65px;
    }

    /*Hero*/
    #cover-text {
        width:80%;
        
    }
}
/*Media query: tablets and larger devices (992px and up)*/
@media screen and (min-width:992px) {
    #menu a:hover {
        border-bottom: 1px dotted rgb(105, 102, 102) ;
    }    
    }